<app-nav></app-nav>
<div class="coverimg">
  <div class="row col-md-12 col-sm-12 col-12 ">
    <div class="col-md-6 col-sm-5 col-5">
      <img src="../../../../assets/img/physics.jpg">
    </div>
    <div class="col-md-4 col-sm-5 col-5 details">
      <h2>Subject Details</h2>
      <div class="topich5">
      <h5><b>Subject:</b>{{topics[0].subjctName}}</h5>
      <h5><b>Number of Videos:</b>11</h5>
      <h5><b>Number of Topics:</b>10</h5>
    </div>
  </div>
   
</div>
</div>

<div *ngFor="let topic of topics" class="one" data-aos="fade-up">
    <h2>{{topic.chapterName}}</h2>
    <h4>{{topic.name}}</h4>
    <hr>
    <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig">
    <div ngxSlickItem  *ngFor="let video of topic.videos" class=" slide all2 responsive2 col-md-11 " >
      

                        <video  class=" cl-2" width="300"  controls>
                          <source src={{video.url}} type="video/mp4">
                        </video>
      </div>
    </ngx-slick-carousel>
</div>


<!-- <div class="one" data-aos="fade-up">
    <h2>Chapter Two</h2>
    <h4>Newton's Law</h4>
    <hr>
    <div class="all2 responsive2 col-md-11  " >
    <video class="cl-2"width="300"  controls>
        <source src="../../../../assets/img/kaajerbari.mp4" type="video/mp4">
      </video>
      <video class="cl-2"width="300" controls>
        <source src="../../../../assets/img/kaajerbari.mp4" type="video/mp4">
      </video>
      <video class="cl-2"width="300" controls>
        <source src="../../../../assets/img/kaajerbari.mp4" type="video/mp4">
      </video>
      <video class="cl-2"width="300" controls>
        <source src="../../../../assets/img/kaajerbari.mp4" type="video/mp4">
      </video>
      <video class="cl-2"width="300" controls>
        <source src="../../../../assets/img/kaajerbari.mp4" type="video/mp4">
      </video>
      <video class="cl-2"width="300" controls>
        <source src="../../../../assets/img/kaajerbari.mp4" type="video/mp4">
      </video>
      </div>
</div>

<div class="one" data-aos="fade-up">
  <h2>Chapter Two</h2>
  <h4>Newton's Law</h4>
  <hr>
  <div class="all2 responsive2 col-md-11  " >
  <video class="cl-2"width="300"  controls>
      <source src="../../../../assets/img/kaajerbari.mp4" type="video/mp4">
    </video>
    <video class="cl-2"width="300" controls>
      <source src="../../../../assets/img/kaajerbari.mp4" type="video/mp4">
    </video>
    <video class="cl-2"width="300" controls>
      <source src="../../../../assets/img/kaajerbari.mp4" type="video/mp4">
    </video>
    <video class="cl-2"width="300" controls>
      <source src="../../../../assets/img/kaajerbari.mp4" type="video/mp4">
    </video>
    <video class="cl-2"width="300" controls>
      <source src="../../../../assets/img/kaajerbari.mp4" type="video/mp4">
    </video>
    <video class="cl-2"width="300" controls>
      <source src="../../../../assets/img/kaajerbari.mp4" type="video/mp4">
    </video>
    </div>
</div>

<div class="one" data-aos="fade-up">
  <h2>Chapter Two</h2>
  <h4>Newton's Law</h4>
  <hr>
  <div class="all2 responsive2 col-md-11  " >
  <video class="cl-2"width="300"  controls>
      <source src="../../../../assets/img/kaajerbari.mp4" type="video/mp4">
    </video>
    <video class="cl-2"width="300" controls>
      <source src="../../../../assets/img/kaajerbari.mp4" type="video/mp4">
    </video>
    <video class="cl-2"width="300" controls>
      <source src="../../../../assets/img/kaajerbari.mp4" type="video/mp4">
    </video>
    <video class="cl-2"width="300" controls>
      <source src="../../../../assets/img/kaajerbari.mp4" type="video/mp4">
    </video>
    <video class="cl-2"width="300" controls>
      <source src="../../../../assets/img/kaajerbari.mp4" type="video/mp4">
    </video>
    <video class="cl-2"width="300" controls>
      <source src="../../../../assets/img/kaajerbari.mp4" type="video/mp4">
    </video>
    </div>
</div> -->



<br>
<br>