<app-nav></app-nav>

<section>
  <div class="sidenav1 ">
    <div class="login-main-text">
       <h2>Student<br> Profile page</h2>
       <p>See the details here</p>
      
    </div>
 </div>
 <div class="main2">
         <div class="col-md-6 col-sm-6 col-6 profiletext mt-5">
             <img src="../../../assets/img/banner1.jpg">
             <h5>Student Name</h5>
             <h5 class="h5">Class Name</h5>
             <h5 class="h5">Number</h5>

             <ul>
                 <li><a href="#">Sign in</a></li>
                 <li><a href="#">Success Story</a></li>
                 <li><a href="#">Review</a></li>
                 <li><a href="#">Media Coverage</a></li>
                 <li><a href="#">Query</a></li>
                 <li><a href="#">Request Live Class (Zoom)</a></li>
                 <li><a href="#">Live Chat</a></li>
                 <li><a href="#">Contact Us</a></li>
                 <li><a href="#">Share The App</a></li>
                 <li><a href="#">Noticeboard</a></li>
                 <li><a href="#">Topper Of The Week</a></li>
                 <li><a href="#">Terms And Conditions</a></li>
                 <li><a href="#">Log Out</a></li><br>
             </ul>
         </div>
</div>
    
 </section>