<section>
  <div class="row col-md-12 mt-5" style="margin-left: 6%;">
    <div class="col-md-6">
      <h5 style="margin-left: 20%;color: darkred;font-size: 30px;">Add Subjects</h5>
      <form #SubjectCreationForm="ngForm" (ngSubmit)="createSubject()">
        <div class="form-row col-md-12 mt-4">
          <div class=" col-md-8 ml-5 ">
            <div class="form-group">
              <label for="input-title">Subject</label>
              <input type="text" class="form-control" id="input-title" name="name" [(ngModel)]="subject.name"
                aria-describedby="titleHelp" placeholder="Enter subject">

            </div>
            <button [disabled]="!SubjectCreationForm.valid" type="submit" class="btn btn-primary">Submit</button>
          </div>

        </div>

      </form>
    </div>
    <div class=" col-md-6">
      <h5 style="text-align: center;color: darkred;font-size: 30px;">Table of Subjects</h5>
      <div class=" table-responsive">
        <table class="table table-bordered mt-4">
          <thead style="background-color:rgb(0, 140, 255); text-align: center;">
            <tr>
              <th>Subjects</th>

              <th>Status</th>
            </tr>
          </thead>
          <tbody style=" text-align: center;">
            <tr *ngFor="let subject of subjects">
              <td>{{subject.name}}</td>
              <td>
                <button type="button" class="btn btn-success " data-toggle="modal"
                  data-target="#staticBackdroppost">Update</button>

                <button type="button" class="btn btn-danger " 
                 (click)="deleteSubject(subject.id)">Delete</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

    <div class="modal fade" id="staticBackdroppost" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="staticBackdropLabel" style="padding-left: 30%;">Update Subjects</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
          <div class="modal-body">
            <form #updateForm (ngSubmit)="updateSubject()">
              <div class="form-row col-md-12 mt-4">
                <div class=" col-md-8 ml-5 ">     
                    <div class="form-group">
                        <label for="input-title">Subject</label>
                        <input
                                type="text"
                                class="form-control"
                                id="input-title"
                                name="name"
                                [(ngModel)]="updatedSubject.name"
                                aria-describedby="titleHelp"
                                placeholder="Enter subject name">
      
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
               </div>
      
      </div>
          
          </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>