<section>
  <div class="container ml-5">
    <div class="col-md-12 mt-5">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop"
        style="margin-left: 40%;">Add Carousel Banner</button>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 table-responsive">
        <table class="table table-bordered mt-3">
          <thead style="background-color:orange; text-align: center;">
            <tr>
              <th>Banner Id</th>
              <th>Picture</th>
              <th>Update</th>
            </tr>
          </thead>
          <tbody style="text-align: center;">
            <tr>
              <td>01</td>
              <td><img src="Home/dry.jpg"></td>
              <td>
                <button type="button" class="btn btn-danger " data-toggle="modal"
                  data-target="#staticBackdrop">Update</button>
              </td>
            </tr>
            <tr>
              <td>01</td>
              <td><img src="Home/dry.jpg"></td>
              <td>
                <button type="button" class="btn btn-danger " data-toggle="modal"
                  data-target="#staticBackdrop">Update</button>
              </td>
            </tr>
            <tr>
              <td>01</td>
              <td><img src="Home/dry.jpg"></td>
              <td>
                <button type="button" class="btn btn-danger " data-toggle="modal"
                  data-target="#staticBackdrop">Update</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>




<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog ">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="staticBackdropLabel" style="padding-left: 30%;">Add Carousel Banner</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-row col-md-12">
          <div class=" col-md-8 ">
            <div class="form-group">
              <label for="input-banner-img">Picture</label>
              <input type="file" class="form-control-file" id="input-banner-img" name="picture" value="">

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>
</div>