<app-nav></app-nav>

<div class="notice" >
  <h2>Recent Notices</h2>
  <p class="p1">Share your work to collaboratve with our vibrant design element.</p>
  <hr>
  <div class="flex-container" id="notice" >
    <div class="flex-item" >
  <div class="card mt-4" id="hover-border" >
    <img src="../../../assets/img/banner2.jpg" class="card-img-top" alt="">
  
    <div class="card-body">
      <h5 class="card-title">Math Solution</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p>Date:25.3.2021</p>
     </div>
  </div>
</div>
<div class="flex-item">
  <div class="card mt-4" id="hover-border" >
    <img src="../../../assets/img/banner2.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Physics Test</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p>Date:25.3.2021</p></div>
   </div>
</div>
<div class="flex-item">
  <div class="card mt-4" id="hover-border" >
    <img src="../../../assets/img/banner2.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Bangla Syllabus</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p>Date:25.3.2021</p></div>
   </div>
</div>
</div>
</div>