<div class="navbar sticky-top navbar-expand-lg " style="background-image: linear-gradient(-70deg,#242424,brown);">
  <div class="container">
    <a class="navbar-brand" href="#" style="color:white;font-size: 26px;">Courses</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span ><i class="fa fa-bars" style="color: white"></i></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav " style="margin-right:12%">
        <li class="nav-item">
            <a class="nav-link"   href="../../../assets/index.html">Home <span class="sr-only">(current)</span></a>
        </li>
       
        <li class="nav-item dropdown" style="background-color: none;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white;font-size: 18px;">
            Classes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <li><a class="dropdown-item" href="../../../assets/class1.html" style="color: grey;" >Class One</a></li>
            <li><a class="dropdown-item" href="../../../assets/class2.html" style="color: grey;" >Class Two</a></li>
            <li><a class="dropdown-item" href="../../../assets/class3.html" style="color: grey;">Class Three</a></li>
          </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="#about">About</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#contact"> Contact Info</a>
      </li>
    
        <li class="nav-item">
            <a class="nav-link" href="../../../assets/login.html">Log In</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link"   href="../../../assets/profile.html">Profile <span class="sr-only">(current)</span></a>
      </li>

    </ul>
</div>
</div>